      <div class="form-group" >
        <label for="{{label}}">{{i.label}} :</label>
        <input model="model"  type="{{type}}"  class="form-control" id="{{id}}" ng-required="required"  />{{test}}
      </div>