<form role="form" class="">
    {{reg.head}}
  {{users}}
  
  <div class="form-group">
    <label for="name">Name:</label>
    <input ng-model="reg.name" name="name" type="text" class="form-control " id="name" ng-required="true" >
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input ng-model="reg.email" name="email" type="text" class="form-control" id="email" ng-required="true" >
  </div>
  <div class="form-group">
    <label for="password">Pass:</label>
    <input ng-model="reg.password" name="password" type="password" class="form-control " id="password" ng-required="true" >
  </div>
  <button ng-repeat="b in form.buttons"  class="btn {{b.style}}"> {{b.txt}}</button>
</form>