.fading {
  -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
}
.fading.ng-hide {
  opacity:0;
}

.item { }
.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all ease 0.3s;
  transition:all ease 0.3s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}

/*
.view { }

.view.ng-enter,
.view.ng-leave {
  -webkit-transition:all linear 0s;
  transition:all linear 0s;
}

.view.ng-leave.ng-leave-active,

.view.ng-enter {
  opacity:0;
}

.view.ng-leave,

.view.ng-enter.ng-enter-active {
  opacity:1;
}