<div class="page-header">
  <h1>
      Home
    </h1>
</div>
<div class="row">


  <div class="col-sm-6 col-sm-offset-3">
    <h3>
      Sign Up
    </h3>
    <register-module></register-module>

  </div>
</div>