
<div class="page-header">
   <h1>
     Post
      <button ng-click="toggle = !toggle" class="btn btn-primary btn-success pull-right ">Add Tags</button>
  </h1>
</div>
<div class="row">
  <div class="fading" ng-show="toggle">
   
    <form role="form">
      <div class="form-group">
         <label for="tit">Title:</label>
         <input ng-model="post.tit" name="tit" type="text" class="form-control" id="tit">
      </div>
      <div class="form-group">
         <label for="txt">Text:</label>
         <textarea ng-model="post.txt" name="txt" class="form-control" id="txt"></textarea>
      </div>
       <div ng-controller="tagsController" class="form-group">
           <label for="tag">Tags :</label>
           <select   ng-model="post.tags" name="tags" class="form-control" id="tag" multiple>
              <option  ng-repeat="list  in lists " value="{{list.id}}">{{list.name}}</option>
           </select>
        </div>
      <button ng-click="create()" type="submit" class="btn btn-primary btn-block ">Submit</button>
   </form>
    
 </div>
</div>

<div class="row"> 
  
  <div class="item" ng-repeat="post in lists">
    <div class="fading"  ng-hide="toggleitem" >      
      <h1>
        {{post.tit}}
      </h1>
      <p>
        {{post.txt}}
        <h3>
          Tags
        </h3>
        <ul>
          <li ng-repeat="tag in post.tags">{{tag}}</li>  
        </ul>      
      <h4>
          Writers
        </h4>
        <ul>
          <li ng-repeat="writer in post.writers">{{writer}}</li>  
        </ul>
      </p>
      <button ng-click="toggleitem = !toggleitem" class="btn btn-info " >Edit</button>         
      <button ng-click="" class="btn btn-success " >Publish</button>    
      <button ng-click="delete(post.id)" class="btn btn-danger " >Delete</button>
    </div>
<!-- Form Update New Post -->    

    <div style="margin:10px 0; padding:15px;    border: 1px solid transparent;   border-radius: 4px;    border-color: #337ab7;" ng-show="toggleitem" class="col-sm-12 fading">
       <button ng-click="toggleitem = !toggleitem" class="btn btn-warning  " >Hide Form</button>
       <hr />                 
       <form role="form">
          <div class="form-group">
             <label for="tit">Title:</label>
             <input ng-model="post.tit" name="tit" type="text" class="form-control" id="tit">
          </div>
          <div class="form-group">
             <label for="txt">Text:</label>
             <textarea ng-model="post.txt" name="txt" class="form-control" id="txt"></textarea>
          </div>
          <div ng-controller="tagsController" class="form-group">
             <label for="tag">Tags :</label>
             <select   ng-model="post.tags" name="tags" class="form-control" id="tag" multiple>
                <option  ng-repeat="list  in lists " value="{{list.id}}">{{list.name}}</option>
             </select>
          </div>
          <button ng-click="update(post.id)" type="submit" class="btn btn-primary btn-block ">Submit</button>
       </form>

<!--End Form Update New Post -->              
               
            </div>
    <hr />
  </div>

</div>
