<div class="row">
   <div class="page-header">
      <h1>Tags</h1>
   </div>
   <div class="row">
      <div  class="col-sm-12">

         <hr />
         <form role="form">
            <div class="form-group">
               <label for="tit">Tag :</label>
               <input ng-model="tag.name" name="tit" type="text" class="form-control" id="email">
            </div>
            <button ng-click="create()" type="submit" class="btn btn-primary btn-block ">Submit</button>
         </form>
      </div>
      <hr class="clear" />
   </div>
   <hr class="clear" />
   <div class="row">
      <div ng-repeat="tag in lists" class="col-sm-12 item">

         <div  class="panel panel-primary">
            <div ng-hide="uform" class="panel-heading">
            	<button   ng-click="delete(tag.id)" class="btn btn-danger pull-right " >Delete</button>
            	<h4>{{tag.name}}</h4>
               <span ng-repeat="post in tag.posts">{{post}}&nbsp;&nbsp;</span>
            </div>
         </div>
       
      </div>
   </div>
</div>