<div class="page-header">
    <h1>
      Users
    </h1>
</div>
<div class="row">
  <div class="item" ng-repeat="user in lists">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
         <a href="#" ng-click="isCollapsed = !isCollapsed">
            <i class="fa fa-user"></i> {{user.name}}
        </a>
        </h3>
      </div>
     <div  collapse="isCollapsed"> 
        <div class="panel-body">
          <h4>
           Posts
          </h4>
          <ul>
            <li ng-repeat="post in user.posts">{{post}}</li>
          </ul>
        </div>
     </div> 
    </div>
  </div>
</div>