<form class="{{log.style}}" role="form">
<span style=" color: #fff; font-size: 16px;">
  {{log.head}} {{users}}
</span>
  
  <div class="form-group" >

    <!--<label for="">Email : </label>-->

    <input type="email" class="form-control" ng-required="true"  ng-model="log.email" placeholder="example@example.com" />

  </div>  
  
  <div class="form-group" >

     <!--<label for="">Password : </label>-->

    <input type="password" class="form-control" ng-required="true"  ng-model="log.password" placeholder="secret" />

  </div>

   <button ng-repeat="b in form.buttons"  ng-click="action(log)" class="btn {{b.style}}"> {{b.txt}}</button>

  
</form>
